/**
 * HURRICANE
 * DraiWiki default theme
 *
 * @author		Robert Monden
 * @copyright	DraiWiki development team, 2017
 * @version		1.0 Alpha 1
 */

/* General styles */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #d7d7d9;
    background: radial-gradient(circle, #f4f4f4, #c6c6c6);
    font-family: "Noto Sans", Helvetica, "Trebuchet MS", Verdana, Arial;
    font-size: 85%;
    padding: 0;
    margin: 0;
    color: #1c1c1c;
    position: relative;
}

a {
    color: #5797e5;
    text-decoration: none;
}

a:hover {
    color: #7d9cc1;
}

::selection {
    background: #86b2d6;
    color: #fff;
}

::-moz-selection {
    background: #86b2d6;
    color: #fff;
}

#copyright {
    padding-top: 20px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

#copyright a {
    color: #294a72;
}

h1, h2, h3, h4, h5, h6 {
    color: #514f4f;
    font-weight: normal;
    margin: 10px 0 0 0;
}

hr {
    border-width: 1px 0 0 0;
    border-color: #c6c6c6;
    border-style: solid
}

hr.upp_bot_mar {
    margin: 20px 0px 20px 0px;
}

/* Form elements */
input[type="text"], input[type="password"] {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: #a5a5a5;
    font-size: 20px;
    padding: 6px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, input[type="checkbox"]:checked {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #4cc4c2;
    color: #3f3f3f;
}

input[type="submit"] {
    border: 1px solid #686868;
    border-radius: 8px;
    background: #6f7172;
    background: linear-gradient(-180deg, #6f7172, #555759);
    padding: 10px;
    min-width: 100px;
    color: #fff;
    font-family: Roboto, Verdana, Arial;
    letter-spacing: -1px;
    font-size: 110%;
}

input[type="submit"]:hover {
    border-radius: 8px;
    background: #70b8e0;
    background: linear-gradient(-180deg, #878787, #6d6c6c);
    cursor: pointer;
}

.wide {
    width: 100%;
}

.form_submit_area {
    padding: 8px 20px 8px 20px;
    background: #f3f3f3;
    text-align: right;
}

select {
    min-width: 200px;
}

/* Styles for the top bar */
#topbar {
    padding: 10px 20px 10px 20px;
    color: #3f3f3f;
    background: #d8d8d8;
    background: linear-gradient(-180deg, #e2e2e2, #d8d8d8);
    line-height: 25px;
    vertical-align: middle;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

#topbar a {
    color: #3f3f3f;
}

#topbar #siteinfo {
    vertical-align: middle;
    float: left;
    width: 50%;
    font-size: 130%;
    font-weight: bold;
    color: #636363;
    letter-spacing: -1px;
}

#topbar #siteinfo a {
    text-shadow: 1px 2px #dbdbdb;
}

#topbar #userinfo {
    float: right;
    text-align: right;
}

/* Wrapper, header and body styles */
#wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
}

#content {
    margin-top: 45px;
}

.content_section {
    background: #fff;
    padding: 20px;
}

.padding {
    padding: 30px;
}

.small_padding {
    padding: 15px;
}

/* The sidebar */
#sidebar {
    padding: 10px;
    background: #ededed;
    border-right: 1px solid #d8d8d8;
    position: fixed;
    bottom: 0;
    top: 45px;
    overflow-y: auto;
}

#sidebar a {
    color: #212121;
}

#sidebar a:hover {
    color: #113b60;
}

#sidebar a.active {
    font-weight: bold;
}

.sidebar_header {
    padding: 8px;
    margin: 10px 15px 0 0;
    font-size: 140%;
    letter-spacing: -1px;
    color: #4f4f4f;
}

.sidebar_header:first-child {
    margin: 5px 15px 0px 0px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul:last-child {
    margin-bottom: 30px;
}

#sidebar ul li {
    padding: 3px 2px 3px 8px;
}

#sidebar ul li:hover {
    background: #f7f7f7;
}

.sidebar_items {
    padding: 10px;
    margin-bottom: 20px;
    background: #f9f9f9;
}

#sidebar ul li i {
    width: 15px;
    color: #5797e5;
}

/* Sections */
#page_description {
    padding: 20px 20px 30px 20px;
    background: #5c99e8;
    color: #fff;
}

#page_description h1, .section_description h2 {
    color: #fff;
}

.section_description {
    padding: 10px 20px 10px 20px;
    background: #adbdd1;
    color: #fff;
}

/* Tables */
#server_information, .info_table {
    width: 100%;
    display: table;
    border-spacing: 0;
}

#server_information div, .info_table div {
    display: table-row;
}

#server_information div span, .info_table div span {
    padding: 20px 10px 20px 10px;
    display: table-cell;
    border-bottom: 1px solid #ededed;
}

#server_information div span:first-child, .info_table div span:first-child {
    font-weight: bold;
    width: 50%;
    background: #f9f9f9;
}

#server_information div span:last-child, .info_table div span:last-child {
    width: 50%;
}

#server_information div.table_header span, .info_table div.table_header span {
    padding: 8px;
    font-size: 140%;
    letter-spacing: -1px;
    color: #4f4f4f;
    background: none;
}

#settings_page {
    width: 90%;
    margin: auto;
}

.form_table {
    padding: 20px 0;
}

.form_table span {
    font-style: italic;
}

.form_table input[type="text"], #form_area input[type="password"] {
    width: 100%;
    margin: 3px 0px 20px 0px;
}

.form_table label {
    margin-left: 3px;
    color: #727272;
    font-size: 110%;
    font-weight: bold;
}

.form_table div {
    padding: 10px;
    border-bottom: 1px solid #ededed;
}

.form_table h1 {
    margin: 10px;
}

.form_table div:nth-child(odd) {
    background: #f9f9f9;
}

.form_table div:nth-child(even) {
    background: #fcfcfc;
}

.form_table p {
    margin-top: 10px;
}

.crud_table {
    border: none;
    width: 100%;
    border-spacing: 0;
}

.crud_table th {
    padding: 10px;
}

.crud_table td {
    padding: 20px 10px 20px 10px;
}

.crud_table thead th {
    color: #3f3f3f;
    background: #d8d8d8;
    background: linear-gradient(-180deg, #e2e2e2, #d8d8d8);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.crud_table thead th:first-child {
    border-top-left-radius: 8px;
}

.crud_table thead th:last-child {
    border-top-right-radius: 8px;
}

.crud_table tr:nth-child(odd) {
    background: #f9f9f9;
}

.crud_table td {
    border-bottom: 1px solid #ededed;
}

.crud_table tbody tr:hover {
    background: #deedf9;
}

tr.selected td {
    background: #deede6;
}

.count, .pagination {
    margin: 10px 0 10px 0;
    width: 50%;
    line-height: 20px;
}

.pagination {
    text-align: right;
    padding-right: 20px;
}

.pagination .page {
    padding: 7px;
    margin: 0 3px 0 3px;
    border-radius: 5px;
    font-size: 90%;
}

.pagination .page, .pagination .page a {
    color: #383838;
}

.pagination .page:hover {
    background: #d0d8e5;
}

.pagination .page_current {
    background: #7b9ed8;
}

.pagination .page_normal {
    background: #c0cfe8;
}

.pagination .page_separator {
    background: #d3dde2;
}

.image_preview {
    max-height: 75px;
    max-width: 75px;
}

/* Action bars */
.action_bar {
    margin: 20px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    background: #e5e5e5;
    font-size: 120%;
    letter-spacing: -1px;
}

.action_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.action_bar ul li {
    margin: 0 15px 0 0;
    display: inline;
}

.action_bar, .action_bar a {
    color: #717477;
}

.action_bar i {
    margin-right: 5px;
}

/* Wiki maintenance */
.maintenance_action {
    margin: 15px auto;
    width: 50%;
    background: #f6f6f6;
}

.maintenance_action p, .maintenance_action h1 {
    color: #666666;
}

.maintenance_action h1 {
    margin-bottom: 0;
    font-size: 130%;
    font-weight: bold;
}

.maintenance_action p {
    margin-top: 0;
}

.maintenance_color_1 { border-left: 4px solid #4286f4; }
.maintenance_color_2 { border-left: 4px solid #5ebc7d; }
.maintenance_color_3 { border-left: 4px solid #bcb3a7; }
.maintenance_color_4 { border-left: 4px solid #494a51; }
.maintenance_color_5 { border-left: 4px solid #b79a64; }
.maintenance_color_6 { border-left: 4px solid #b2e22f; }

/* Locale management */
#default_locale {
    font-size: 90%;
    font-weight: bold;
    color: #3a3a3a;
}

/* Responsive theming */
@media only screen and (max-width: 900px) {
    #content {
        padding: 10px;
    }

    #topbar {
        position: fixed;
    }

    canvas, #topbar span {
        display: none!important;
    }

    #sidebar {
        padding: 10px 0 10px 0;
        position: static;
        margin: 45px 0 0 0;
        height: auto;
    }

    #sidebar ul {
        margin: 0;
    }

    .sidebar_header {
        margin: 5px 0 0 0;
        width: 100%;
    }

    #content {
        margin: 10px 0 0 0;
    }

    #content, .content_section {
        width: 100%;
        padding: 0;
    }

    [class*="col"] {
        width: 100%;
    }

    #copyright div {
        margin: 15px 0 0 0;
        text-align: center;
    }

    .crud_table thead {
        display: none;
    }

    .crud_table td {
        display: block;
        border-bottom: 0;
    }

    .crud_table td:last-child {
        border-bottom: 1px solid #ededed;
    }
}