/**
 * HURRICANE
 * DraiWiki default theme
 *
 * @author		Robert Monden
 * @copyright	DraiWiki development team, 2017
 * @version		1.0 Alpha 1
 */

/* General styles */
* {
   box-sizing: border-box;
}

body {
    background: #d7d7d9;
    background: radial-gradient(circle, #f4f4f4, #c6c6c6);
    font-family: "Noto Sans", Helvetica, "Trebuchet MS", Verdana, Arial;
    font-size: 95%;
    padding: 0;
    margin: 0;
    color: #1c1c1c;
}

a {
    color: #66ae46;
    text-decoration: none;
}

a:hover {
    color: #e5ad80;
}

::selection {
    background: #bfa89e;
    color: #fff;
}

::-moz-selection {
    background: #bfa89e;
    color: #fff;
}

#copyright {
    padding: 10px 8px 50px 8px;
    font-size: 12px;
    text-shadow: 1px 1px #b2b2b2;
    color: #2d2d2d;
}

#copyright a {
    color: #294a72;
}

h1, h2, h3, h4, h5, h6, h1 a {
    color: #5e89a0;
    font-weight: normal;
    font-family: "Source Sans Pro", Helvetica, Verdana, Arial;
    margin: 10px 0 0 0;
}

h1 {
    padding-left: 20px;
    background: url('{IMAGE_URL}h1.png') left center no-repeat;
}

hr {
    border-width: 1px 0 0 0;
    border-color: #c6c6c6;
    border-style: solid
}

hr.upp_bot_mar {
    margin: 20px 0px 20px 0px;
}

/* Form elements */
input[type="text"], input[type="password"] {
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: #a5a5a5;
    font-size: 20px;
    padding: 6px;
    font-family: Roboto, Verdana, Arial;
    letter-spacing: -1px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, input[type="checkbox"]:checked {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #4cc4c2;
    color: #3f3f3f;
}

input[type="submit"] {
    border: 1px solid #686868;
    border-radius: 8px;
    background: #6f7172;
    background: linear-gradient(-180deg, #6f7172, #555759);
    padding: 10px;
    min-width: 100px;
    color: #fff;
    font-family: Roboto, Verdana, Arial;
    letter-spacing: -1px;
    font-size: 100%;
}

input[type="submit"]:hover {
    border-radius: 8px;
    background: #70b8e0;
    background: linear-gradient(-180deg, #878787, #6d6c6c);
    cursor: pointer;
}

select {
    min-width: 200px;
}

#header_search input {
    font-size: 16px;
    padding: 3px;
}

#header_search input[type="text"] {
    width: 70%;
    padding: 5px 5px 5px 8px;
    border-color: #fcfcfc;
}

#header_search input[type="submit"] {
    max-width: 20%;
    padding: 5px;
    margin: 0;
}

.wide {
    width: 100%;
}

.form_submit_area input[type="submit"] {
    background: #6f7172;
    padding: 7px;
    letter-spacing: 0;
    border: 0;
}

/* Styles for the top bar */
#topbar {
    padding: 10px 20px 10px 20px;
    /* color: #fff;
    background: #141414;
    background: linear-gradient(-180deg, #1a1a1a, #141414);
    font-family: "Noto Sans", Helvetica, Calibri, Arial;
    font-size: 95%;
    line-height: 25px;
    vertical-align: middle;*/

    font-family: "Noto Sans";
    color: #727272;
    background: #efefef;
    letter-spacing: -1px;
    align-items: center;
}

#topbar a {
    color: #353535;
    padding: 5px 5px 5px 20px;
    letter-spacing: 0;
    background: url('{IMAGE_URL}menu_link.png') left center no-repeat;
    background-position: left 5px center;
}

#topbar #menu {
    float: left;
    width: 60%;
}

#topbar #menu a {
    margin-right: 5px;
    vertical-align: middle!important;
}

#topbar #userinfo {
    float: right;
    width: 35%;
    text-align: right;
}

/* Wrapper, header and body styles */
#wrapper {
    width: 95%;
    margin: auto;
}

#header {
    background: #25639e;
    background: linear-gradient(135deg, #25639e, #408dde);
    font-family: "Noto Sans", Verdana, Helvetica, Arial;
    padding: 40px;
    align-items: center;
}

#header, #header a {
    color: #fff;
    text-shadow: 1px 2px 0 #4f4f4f;
}

#header a {
    font-size: 40px;
}

#to_top_arrow {
    font-size: 200%;
    z-index: 1;
    color: #2f5577;
}

#content {
    padding: 10px;
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #cccccc;
    border-top: 0;
}

#content_header {
    padding: 8px 30px 8px 30px;
    font-size: 20px;
    font-family: "Noto Sans";
    color: #727272;
    background: #efefef;
    border: 1px solid #cccccc;
    border-bottom: 0;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 40px 0 0 0;
}

#header_section div:last-child {
    border-radius: 0 0 10px 10px;
}

#copyright label {
    display: inline-block;
    margin-right: 5px;
}

/* Other headers */
.section_header {
	padding: 15px;
	width: 100%;
	color: #afafaf;
	font-size: 200%;
	font-family: Arial, Verdana;
	letter-spacing: -1px;
}

/* Error styles */
.contains_error {
    color: #c11d1d!important;
}

.text_bold {
    font-weight: bold;
}

/* The sidebar */
#sidebar {
    padding: 10px;
}

#sidebar a {
    color: #212121;
}

#sidebar a:hover {
    color: #113b60;
}

#sidebar h1 {
    margin-bottom: -20px;
}
/*
.sidebar_header {
    padding: 8px;
    margin: 30px 15px 0px 0px;
    font-size: 18px;
    border-bottom: 2px solid #4a6699;
    color: #6b6b6b;
    text-transform: uppercase;
    letter-spacing: -1px;
}*/

.sidebar_header {
    padding: 8px;
    margin: 30px 15px 0px 0px;
    font-size: 18px;
    color: dimgray;
    background: #f5f5f5;
    letter-spacing: -1px;
}

.sidebar_header:first-child {
    margin: 5px 15px 0px 0px;
}

#sidebar ul {
    list-style: none;
    padding: 8px 0 8px 0;
    margin: 0 15px 0 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Roboto, Verdana, Arial;
}

#sidebar ul li {
    padding: 6px 2px 6px 8px;
    border-radius: 5px;
}

#sidebar ul li:hover {
    background: #f7f7f7;
}

#sidebar ul li i {
    width: 15px;
    color: #8099b7;
}

.sidebar_items {
    padding: 10px;
    margin-bottom: 20px;
}

/* Text styles */
.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.bigger {
    font-size: 16px;
}

/* Content styles */
/*pre {
    font-family: "Courier New", Monospace;
    padding: 10px;
    margin: 10px;
    border: 1px solid #E5E5E5;
    background: #f7f7f7 url({IMAGE_URL}codebg.png) no-repeat right 0px;
    word-wrap: break-word;
    min-height: 50px;
    max-height: 200px;
    overflow-y: auto;
}*/

blockquote {
    padding: 10px;
    margin: 10px;
    border: 1px solid #E5E5E5;
    background: #f7f7f7;
    word-wrap: break-word;
    min-height: 50px;
}

/* Spacing */
.bottom_top_margin {
    margin: 20px 0px 20px 0px;
}

p {
    margin: 4px 0px 20px 0px;
}

/* Registration and login pages */
#form_area {
	width: 40%;
	margin: 20px auto;
}

#form_area .info {
	margin-bottom: 20px;
}

#form_area input[type="text"], #form_area input[type="password"], #form_area input[type="file"] {
	width: 100%;
	margin: 3px 0px 20px 0px;
}

#form_area label {
	margin-left: 3px;
	color: #727272;
	font-size: 110%;
	text-shadow: 1px 1px #e0e0e0;
}

.editor_form {
    width: 50%!important;
    margin: auto;
}

#agreement {
    padding: 10px;
    margin: 10px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    height: 300px;
    overflow-y: auto;
}

#accept_agreement {
	font-style: normal;
	font-size: 14px;
    margin: 10px 0px 10px 0px;
}

.section_content {
	padding: 20px;
	background: #fcfcfc;
}

.form_submit_area {
    padding: 8px 20px 8px 20px;
    background: #f3f3f3;
    text-align: right;
}

/* Margins and widths */
#cant_proceed {
    width: 40%;
    margin: auto;
}

/* Cookie warning-related styles */
#cookie_warning {
    background: #b8bec6;
    background: radial-gradient(circle, #232121, #4f4f4f);
    opacity: 0.9;
    border-top: 1px solid #c6c6c6;
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    display: table;
}

.cookie_message, .cookie_dismiss {
    display: table-cell;
    vertical-align: middle;
}

.cookie_message {
    color: #fff;
    left: 0;
}

.cookie_dismiss {
    padding: 5px 50px 5px 50px;
    background: #4a6699;
    color: #fff;
    border: 0!important;
    right: 0;
}

.cookie_dismiss:hover {
    cursor: pointer;
}

.cookie_link {
    text-decoration: underline;
}

/* Articles */
h1.article_title {
    color: #3a3a3a;
    margin-bottom: 10px;
    font-weight: normal;
    padding: 0;
    background: none;
    font-size: 230%;
}

#article_body {
    word-wrap: break-word;
}

#article_body h1, #article_body h2, #article_body h3, #article_body h4, #article_body h5 {
    color: #757575;
    letter-spacing: -1px;
}

#article_body h1 {
    background: none;
    padding: 0 0 5px 0;
    font-size: 180%;
    border-bottom: 1px solid #e8e8e8;
}

#article_body pre {
    white-space: pre-wrap;
}

#article_body h2 {
    font-size: 150%;
}

#last_updated_by {
    padding-top: 10px;
    font-size: 100%;
    font-style: italic;
    color: #999999;
}

/* Tables */
.info_table {
    width: 100%;
    display: table;
    border-spacing: 0;
}

.info_table div {
    display: table-row;
}

.info_table div span {
    padding: 20px 10px 20px 10px;
    display: table-cell;
    border-bottom: 1px solid #ededed;
}

.info_table div span:first-child {
    font-weight: bold;
    width: 50%;
    background: #f9f9f9;
}

.info_table div span:last-child {
    width: 50%;
}

.info_table div.table_header span {
    padding: 8px;
    font-size: 140%;
    letter-spacing: -1px;
    color: #4f4f4f;
    background: none;
}

/* Images */
.image {
    width: 100%;
}

.image img {
    max-width: 100%;
}

/* Account settings */
#account_section {
    width: 90%;
    margin: auto;
}

#account_info {
    list-style: none;
    padding: 0;
}

#settings_left {
    padding: 20px 50px 0;
    text-align: right;
}

#settings_left h1 {
    background: none;
}

/* Tables */
.form_table {
    padding: 20px 0;
}

.form_table span {
    font-style: italic;
}

.form_table input[type="text"], #form_area input[type="password"] {
    width: 100%;
    margin: 3px 0px 20px 0px;
}

.form_table label {
    margin-left: 3px;
    color: #727272;
    font-size: 110%;
    font-weight: bold;
}

.form_table div {
    padding: 10px;
    border-bottom: 1px solid #ededed;
}

.form_table h1 {
    margin: 10px;
}

.form_table div:nth-child(odd) {
    background: #f9f9f9;
}

.form_table div:nth-child(even) {
    background: #fcfcfc;
}

.form_table p {
    margin-top: 10px;
}

.crud_table {
    border: none;
    width: 100%;
    border-spacing: 0;
}

.crud_table th {
    padding: 10px;
}

.crud_table td {
    padding: 20px 10px 20px 10px;
}

.crud_table thead th {
    color: #3f3f3f;
    background: #d8d8d8;
    background: linear-gradient(-180deg, #e2e2e2, #d8d8d8);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.crud_table thead th:first-child {
    border-top-left-radius: 8px;
}

.crud_table thead th:last-child {
    border-top-right-radius: 8px;
}

.crud_table tr:nth-child(odd) {
    background: #f9f9f9;
}

.crud_table td {
    border-bottom: 1px solid #ededed;
}

.crud_table tbody tr:hover {
    background: #deedf9;
}

tr.selected td {
    background: #deede6;
}

.count, .pagination {
    margin: 10px 0 10px 0;
    width: 50%;
    line-height: 20px;
}

.pagination {
    text-align: right;
    padding-right: 20px;
}

.pagination .page {
    padding: 7px;
    margin: 0 3px 0 3px;
    border-radius: 5px;
    font-size: 90%;
}

.pagination .page, .pagination .page a {
    color: #383838;
}

.pagination .page:hover {
    background: #d0d8e5;
}

.pagination .page_current {
    background: #7b9ed8;
}

.pagination .page_normal {
    background: #c0cfe8;
}

.pagination .page_separator {
    background: #d3dde2;
}

/* The article finder */
#search, #assign_translations_box {
    font-size: 200%;
    width: 100%;
    margin-top: 15px;
    letter-spacing: -2px;
}

.search_result {
    margin: 10px 0 10px 0;
    padding: 10px;
}

.search_result:hover {
    background: #f9f9f9;
}

.search_result h1 {
    background: none;
    padding-left: 0;
    margin: 0;
}

.highlighted {
    background: #e2d1ac;
    border-radius: 5px;
    padding: 3px;
}

h1 .highlighted {
    background: none;
    border: 0;
    border-radius: 0;
    font-weight: bold;
}

#more_results {
    padding: 20px;
    margin: 20px;
    background: #e1e9ed;
    display: block;
}

#more_results:hover {
    background: #eff3f4;
}

/*.search_rank {
    padding: 7px;
    margin: 0 3px 0 3px;
    border-radius: 5px;
    font-size: 60%;
    font-style: normal;
    color: #fff;
    background: #4a6699;
}*/

/* Translation assignment */
#translation_assignment div.float_left {
    padding: 0 20px 0 20px;
    margin: 0;
}

#translation_assignment #results {
    padding: 20px;
}

.translation_group_search_result a {
    margin-left: 20px;
    color: #727272;
}

/* The about page */
#about_page_logo {
    padding-top: 20px;
}

/* Article history */
.size_increase { color: #1ead08;  }
.size_equal { color: #565656; }
.size_decrease { color: #ad0808; }

/* Responsive theming */
@media only screen and (max-width: 900px) {
    #content {
        padding: 10px;
    }

    #topbar {
        display: none;
    }

    #sidebar {
        padding: 0;
        margin-bottom: 20px;
    }

    #sidebar ul {
        margin: 0;
    }

    #sidebar h1 {
        display: none;
    }

    #form_area, #account_section {
        width: 100%;
    }

    .sidebar_header {
        margin: 5px 0px 0px 0px;
        width: 100%;
    }

    [class*="col"] {
        width: 100%;
    }

    #copyright div {
        margin: 15px 0px 0px 0px;
        text-align: center;
    }

    #header_search input[type="submit"] {
        display: none;
    }

    #cant_proceed {
        width: 100%;
    }

    pre {
        overflow-x: auto;
    }
}
