/**
 * HURRICANE
 * DraiWiki default theme
 *
 * @author		Robert Monden
 * @copyright	DraiWiki development team, 2017
 * @version		1.0 Alpha 1
 */

 #editor {
 	height: 800px;
 	width: 100%;
 	font-size: 14px;
 	padding: 5px;
 }