/**
 * HURRICANE
 * DraiWiki default theme
 *
 * @author		Robert Monden
 * @copyright	DraiWiki development team, 2017
 * @version		1.0 Alpha 1
 */

/* General styles */
body {
	background: #e6ebe0;
	font-family: Helvetica, "Trebuchet MS", Verdana, Arial;
	font-size: 14px;
	padding: 5% 0 0 0;
	margin: 0;
}

a {
	color: #78a1bb;
	text-decoration: none;
}

::selection {
	background: #bfa89e;
	color: #fff;
}

::-moz-selection {
	background: #bfa89e;
	color: #fff;
}

#copyright {
	padding: 10px;
	font-size: 11px;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #78a1bb;
}

/* Wrapper styles */
#wrapper {
	width: 80%;
	margin: auto;
	padding: 10px;
	background: #fff;
	border: 1px solid #78a1bb;
	border-radius: 8px;
}

/* Specific error styles */
.sqlError {
	font-style: italic;
	color: red;
}

.stringNotFound {
	color: red;
	font-weight: bold;
}