/**
 * HURRICANE
 * DraiWiki default theme
 *
 * @author		Robert Monden
 * @copyright	DraiWiki development team, 2017
 * @version		1.0 Alpha 1
 */

/* General styles */
body {
	background: #D7D7D9;
	font-family: Helvetica, "Trebuchet MS", Verdana, Arial;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

a {
	color: #78a1bb;
	text-decoration: none;
}

::selection {
	background: #bfa89e;
	color: #fff;
}

::-moz-selection {
	background: #bfa89e;
	color: #fff;
}

#copyright {
	padding: 10px 8px 50px 8px;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
	color: #78a1bb;
}

h1.articleTitle {
	color: #3a3a3a;
	margin-bottom: 0px;
	font-weight: normal;
}

hr {
	border-width: 1px 0px 0px 0px;
	border-color: #e2e2e2;
}

/* Form elements */
input[type="text"], input[type="password"] {
	border-width: 0px 0px 2px 0px;
	border-color: #78a1bb;
	color: #777777;
	font-size: 20px;
	padding: 3px;
}

input[type="text"]:hover, input[type="password"]:hover {
	background: #f9f9f9;
}

input[type="submit"] {
	border: 1px solid #385f75;
	border-radius: 8px;
	background: #5b96b7;
	background: linear-gradient(-180deg, #5b96b7, #487893);
	padding: 5px;
	min-width: 100px;
	color: #fff;
}

/* Styles for the top bar */
#topbar {
	padding: 10px 20px 10px 20px;
	color: #fff;
	background: #141414;
	background: linear-gradient(-180deg, #1a1a1a, #141414);
}

#topbar a {
	color: #fff;
	text-shadow: 1px 2px #000;
}

#topbar #menu {
	float: left;
	width: 60%;
}

#topbar #menu a {
	margin-right: 15px;
	vertical-align: middle!important;
}

#topbar #userinfo {
	float: right;
	width: 35%;
	text-align: right;
}

/* Wrapper, header and body styles */
#wrapper {
	width: 90%;
	margin: auto;
}

#header {
	background: #283044;
	background: linear-gradient(-180deg, #283044, #262d40);
	color: #fff;
	font-size: 30px;
	font-family: Verdana, Helvetica, Arial;
	padding: 30px;
	text-shadow: 1px 2px 0 #000;
}

#content {
	padding: 10px;
	background: #fff;
	border-radius: 10px;
	margin-top: 40px;
}

#contentHeader {
	padding: 10px 30px 10px 30px;
	font-size: 25px;
	font-family: Verdana, Arial;
	font-style: italic;
	color: #fff;
	background: #4a6699;
}

#header_section div:last-child {
	border-radius: 0px 0px 10px 10px;
}

/* Positioning */
.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.clear {
	clear: both;
}

/* Error messages */
.stringNotFound {
	color: red;
	font-weight: bold;
}

/* Messages */
.messageBox {
	margin: 20px 0px 20px 0px;
}

.info {
	border: 1px solid #78a1bb;
	background: #ebf5ee;
	color: #283044;
	padding: 15px;
	border-radius: 10px;
}

.notice {
	border: 1px solid #f4f1bb;
	background: #fffde5;
	color: #353532;
	padding: 15px;
	border-radius: 10px;
}

.error {
	border: 1px solid #bb7878;
	background: #f5ebeb;
	color: #442828;
	padding: 15px;
	border-radius: 10px;
}

.containsError {
	color: #c11d1d!important;
}

/* Sections width */
.col20 {
	width: 20%;
	float: left;
}

.col33 {
	width: 33%;
	float: left;
}

.col40 {
	width: 40%;
	float: left;
}

.col50 {
	width: 50%;
	float: left;
}

.col60 {
	width: 60%;
	float: left;
}

/* The sidebar */
#sidebar {
	padding: 10px;
}

#sidebar a {
	color: #161616;
}

.sidebar_header {
	background: #283044;
	background: linear-gradient(-180deg, #283044, #262d42);
	padding: 8px;
	margin: 30px 15px 0px 0px;
	font-size: 15px;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-shadow: 1px 2px #000;
}

.sidebar_header:first-child {
	margin: 5px 15px 0px 0px;
}

#sidebar ul {
	list-style: none;
	padding: 8px;
	margin: 0px 15px 0px 0px;
	background: #efefef;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#sidebar ul li {
	padding: 4px 2px 4px 0px;
}

.sidebar_items {
	padding: 10px;
	margin-bottom: 20px;
	background: #f9f9f9;
}

/* Text styles */
.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.bigger {
	font-size: 16px;
}