/**
 * HURRICANE
 * DraiWiki default theme
 *
 * @author		Robert Monden
 * @copyright	DraiWiki development team, 2017
 * @version		1.0 Alpha 1
 */

#registrationPage {
	width: 80%;
	margin: auto;
	padding: 10px;
}

#registrationPage .info {
	margin-bottom: 20px;
}

#registrationPage input[type="text"], #registrationPage input[type="password"] {
	width: 100%;
	margin: 3px 0px 20px 0px;
}

#registrationPage label {
	font-weight: bold;
	margin-left: 3px;
	color: #262626;
	font-size: 14px;
}

#agreement {
	font-style: italic;
	padding: 10px;
	margin: 10px 10px 30px 10px;
	font-size: 17px;
}

#acceptAgreement {
	font-style: normal;
	font-size: 14px;
}